@import '../../theme.scss';

.dpContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;

  & .dpImage {
    object-fit: contain;
    height: 100%;
  }

  & .overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s;
  }
}

.dpModal {
  display: flex;
  justify-content: center;
  flex-direction: column;

  & .dpPreviewImage {
    height: 300px;
    width: auto;
    object-fit: contain;
  }

  & .uploadBtn {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }
}