@import '../../theme.scss';

.checkboxWrapper {
  box-sizing: border-box;
  color: $black;
  font-size: 14px;
  line-height: 1.5715;
  display: inline-flex;
  align-items: baseline;
  line-height: unset;
  cursor: pointer;

  & .checkbox {
    color:$black;
    position: relative;
    top: 0.2em;
    line-height: 1;
    white-space: nowrap;
    outline: none;
    cursor: pointer;

    +span {
      padding-right: 8px;
      padding-left: 8px;
    }

    & .checkboxInput {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
    }

    & .checkboxInner {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      transition: all .3s;

      &::after {
        position: absolute;
        top: 50%;
        left: 21.5%;
        display: table;
        width: 5.71428571px;
        height: 9.14285714px;
        border: 2px solid $white;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg) scale(0) translate(-50%, -50%);
        opacity: 0;
        transition: all .1s cubic-bezier(.71, -.46, .88, .6), opacity .1s;
        content: " ";
      }
    }

    &.checkboxChecked {
      & .checkboxInner {
        background-color: $blue;
        border-color: $blue;

        &::after {
          transform: rotate(45deg) scale(1) translate(-50%, -50%);
          opacity: 1;
          transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
        }
      }
    }
  }

  &.checkboxDisabled {
    cursor: not-allowed;

    & .checkbox {
      cursor: not-allowed;

      & .checkboxInput {
        cursor: not-allowed;
      }

      & .checkboxInner {
        background-color: #f5f5f5;
        border-color: #d9d9d9 !important;
      }
    }
  }
}


@-webkit-keyframes checkboxEffect {
  0% {
    transform: scale(1);
    opacity: .5
  }

  to {
    transform: scale(1.6);
    opacity: 0
  }
}

@keyframes checkboxEffect {
  0% {
    transform: scale(1);
    opacity: .5
  }

  to {
    transform: scale(1.6);
    opacity: 0
  }
}