@import '../../theme.scss';

.bloomkiteBtn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: #000000d9;
  border-color: #d9d9d9;
  background: $white;


  &.btnLoading {
    cursor: default;
  }

  & .loader {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.3rem;
  }

  &.primaryBtn {
    color: $white;
    border-color: $blue;
    background: $blue;
    box-shadow: 0 2px #0000000b;

    &[disabled] {
      opacity: 0.8;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }

  & .btnIcon {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.3rem;
  }
}