@import '../../theme.scss';

.textInputWrapper {
  display: flex;
  position: relative;
  align-items: center;

  & .textInput {
    margin: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: #000000d9;
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s;

    &:hover {
      border-color: $blue;
      border-right-width: 1px !important;
    }

    &:focus {
      border-color: $blue;
      box-shadow: 0 0 0 2px $primary-color-outline;
      border-right-width: 1px !important;
      outline: 0;
    }
  }

  & .closeIcon {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 25px;
    cursor: pointer;
    font-size: 20px;
  }

  &.allowClear {
    & .textInput {
      padding-right: 25px;
    }
  }
}